@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all .4s ease;
}
body{
    background-image: url('img/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    min-height:100vh;
}
header{
    padding: 40px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    max-width: 50px;
    margin-left: 50px;
}
.cart{
    max-width: 20px;
    margin-right: 50px;
}
.models{
    display: none;
}
.sneaker-area{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 
    50px;
    padding: 60px; 
    align-items: center;
   
    
}
.sneaker--item{
    overflow: hidden;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(48, 48, 48, 0.466);
    padding: 40px;
   
    
   
    
   
}
.sneaker--item:hover{
box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.438);
transform: scale(0.99);

}



.sneaker--img{
    
   
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.sneaker--img IMG{
    width: 240px;
}

.sneaker--more{
    display: flex;
    justify-content: space-between;
   
}

.sneaker--info{
    color: white;
    display: flex;
    flex-direction: column;
}
.name-sneaker{
    font-size: 24px;
    font-weight: 500;
}
.price-sneaker{
    font-size: 14px;
}
.add-button{
    display: flex;
    align-items: center;
    
   
}.add-button:hover img{
    transform: scale(1.2);
}
.add-button img{
   max-width: 38px;
 
}
.windowArea{
    position: fixed;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 101%;
    left: 50%;
    top: 50%;
    z-index: 44;
    background-color:rgb(224, 224, 224);
    animation: openModal .5s ease;
    justify-content: center;
    align-items: center;
    display: none;
    
    


}
.windowBody{
    
    max-width: 1366px;
    max-height: 768px;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50vh 40vh;
    display: none;
    padding: 40px;
    position: relative;
    
    
    
    
}
.closeModal{
    position: absolute;
    top: 30px;
    right: 30px;
    max-width: 32px;
}
.closeModal:hover{
    cursor: pointer;
}
.box-grid.Sneaker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.brand{
    position: absolute;
    top: 15px;
    max-width: 60px;
    
}
.box-img{
    max-width: 240px;
}
.box-sneaker-name{
    font-size: 18px;
    font-weight: 500;
}
.description{
    width: 100%;
    height: 100%;
    padding: 40px;
}
.desc-title{
 font-size: 32px;
 font-weight: 700;
}
.text-desc{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}
.Extra{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.stars{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.txt-stars{
    font-weight: 700;
    margin: 0.5em 0;
}
.reveal{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.534);
}

.sizes{
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
}
.size{
    font-size: 13px;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: 500;
    margin-right: .5em;
   
}

.size:hover{
    background:black;
    color: white;
    cursor: pointer;
}
.size.selected{
    background:black;
    color: white;
}
.qt--area{
    margin-left: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: white;
   
}


.qtb{
    width: 90px;
    height: 40px;
    border-radius: 18px;
    border: none;
    font-size: 18px;
    background-color: black;
    color: white;
    font-weight: 800;

}
.qt{
    color: black;
    font-size: 24px;
    margin:  0 1em;
}
.finish{
    border: none;
    background-color: rgb(6, 81, 245);
    color: white;
    border-radius: 32px;
    padding: 12px 32px;
    cursor: pointer;
}
.finish:hover{
    transform: translateY(-5px);
}
.price{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 24px;
}

@keyframes openModal{
    from{
        width: 2%;
        height: 4%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.212);
       
    }
    to{
        width: 100%;
        height: 100%;
        border-radius: 0;
        background-color:rgb(224, 224, 224);
        
    }
}





@media (min-width:1440px){
    .sneaker-area{
    padding: 20% 60px;
    gap: 
    50px;
   
    }
}
@media (max-width:1023px){
    .sneaker-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sneaker--item{
        width: 100%;
    }
    .sneaker--img img{
        width: 320px;
    }
}
@media (max-width:425px){
    .sneaker-area{
        padding: 20% 30px;
    }
    .menu{
        max-width: 50px;
        margin-left: 35px;
    }
    .cart{
        max-width: 20px;
        margin-right: 35px;
    }
}
@media (max-width:375px){
    .sneaker--img img{
        width: 220px;
    }
}
@media (max-width:320px){
    .sneaker--item{
        padding: 15px;
        gap: 5px;
    }
}